<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca musical</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</head>
<body style="background-color: black;">
    
    <div class="container p-3 my-3 bg-success text-white">
        <h1>Biblioteca musical</h1>
        <p></p>
        <p>Juan Sebastian Lozano Derbez A01374452</p>
        <p>Rodrigo Cravioto Caballero A01748172</p>
    </div>
    <div class="container">
        <br/>
        <div class="row">

            <!-- Modal -->
            <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form action="javascript:void(0);" method="post" onsubmit= "aplicacion.Actualizar()">
                        <div class="modal-header">
                            <h5 class="modal-title">Editar album</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            
                            <div class="mb-3">
                              <label for="idEditar" class="form-label">ID</label>
                              <input readonly type="text"
                                class="form-control" name="idEditar" id="idEditar" aria-describedby="helpId" placeholder="ID">
                            </div>

                            <div class="mb-3 bg-secondary text-white">
                                <label for="" class="form-label">Nombre</label>
                                <input type="text"
                                  class="form-control" required name="nombreEditar" id="nombreEditar" aria-describedby="helpId" placeholder="Ingresa el nombre">
                              </div>
                              <div class="mb-3">
                                  <label for="" class="form-label">Autor</label>
                                  <input type="text"
                                    class="form-control" required name="autorEditar" id="autorEditar" aria-describedby="helpId" placeholder="Ingresa el autor">
                              </div>
                              <div class="mb-3">
                                  <label for="" class="form-label">Año</label>
                                  <input type="text"
                                    class="form-control" required name="añoEditar" id="añoEditar" aria-describedby="helpId" placeholder="Ingresa el año de publicación">
                              </div>
                              <div class="mb-3">
                                  <label for="" class="form-label">Género</label>
                                  <input type="text"
                                    class="form-control" required name="generoEditar" id="generoEditar" aria-describedby="helpId" placeholder="Ingresa el Género">
                              </div>
                              <!--
                              <div class="mb-3">
                                <label for="" class="form-label">Canción 1</label>
                                <input type="text"
                                  class="form-control" required name="nombreCancion1Editar" id="nombreCancion1Editar" aria-describedby="helpId" placeholder="Ingresa Canción 1">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Canción 2</label>
                                <input type="text"
                                  class="form-control" required name="nombreCancion2Editar" id="nombreCancion2Editar" aria-describedby="helpId" placeholder="Ingresa Canción 2">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Canción 3</label>
                                <input type="text"
                                  class="form-control" required name="nombreCancion3Editar" id="nombreCancion3Editar" aria-describedby="helpId" placeholder="Ingresa Canción 3">
                            </div>
                            -->

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-success">Actualizar</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="card bg-secondary text-white">
                    <div class="card-header">
                        Ingresar Nuevo Album
                    </div>
                    <div class="card-body bg-secondary text-white">
                        <form action="javascript:void(0);" method="post" onsubmit= "aplicacion.Agregar()">
                            
                            <div class="mb-3 bg-secondary text-white">
                              <label for="" class="form-label">Nombre</label>
                              <input required type="text"
                                class="form-control" name="nombre" id="nombre" aria-describedby="helpId" placeholder="Ingresa el nombre">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Autor</label>
                                <input required type="text"
                                  class="form-control" name="autor" id="autor" aria-describedby="helpId" placeholder="Ingresa el autor">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Año</label>
                                <input required type="text"
                                  class="form-control" name="año" id="año" aria-describedby="helpId" placeholder="Ingresa el año de publicación">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Género</label>
                                <input required type="text"
                                  class="form-control" name="genero" id="genero" aria-describedby="helpId" placeholder="Ingresa el Género">
                            </div>
                            <!--
                            <div class="mb-3">
                                <label for="" class="form-label">Canción 1</label>
                                <input required type="text"
                                  class="form-control" name="nombreCancion1" id="nombreCancion1" aria-describedby="helpId" placeholder="Ingresa Canción 1">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Canción 2</label>
                                <input required type="text"
                                  class="form-control" name="nombreCancion2" id="nombreCancion2" aria-describedby="helpId" placeholder="Ingresa Canción 2">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Canción 3</label>
                                <input required type="text"
                                  class="form-control" name="nombreCancion3" id="nombreCancion3" aria-describedby="helpId" placeholder="Ingresa Canción 3">
                            </div>
                        -->
                            
                            <button type="submit" class="btn btn-success">Agregar Album</button>
                        </form>
                    </div>
                </div>
                <div class="container bg-black" >
                    <p></p>
                </div>
                <div class="card bg-secondary text-white">
                    <div class="card-header">
                        Borrar Album
                    </div>
                    
                    <div class="card-body bg-secondary text-white">
                        <form action="javascript:void(0);" method="post" onsubmit= "aplicacion.Borrar()">
                            
                            <div class="mb-3 bg-secondary text-white">
                              <label for="" class="form-label">ID</label>
                              <input required type="text"
                                class="form-control" name="idBorrar" id="idBorrar" aria-describedby="helpId" placeholder="Ingresa el ID">
                            </div>
                            <button type="submit" class="btn btn-danger">Borrar</button>
                        </form>
                    </div>
                    
                </div>
                <div class="container bg-black" >
                    <p></p>
                </div>
                <div class="card bg-secondary text-white">
                    <div class="card-header">
                        Editar Album
                    </div>
                    
                    <div class="card-body bg-secondary text-white">
                        <form action="javascript:void(0);" method="post" onsubmit= "aplicacion.Actualizar(idEditar)">
                            
                            <div class="mb-3 bg-secondary text-white">
                              <label for="" class="form-label">ID</label>
                              <input required type="text"
                                class="form-control" name="idEditar" id="idEditar" aria-describedby="helpId" placeholder="Ingresa el ID">
                            </div>
                            <div class="mb-3 bg-secondary text-white">
                                <label for="" class="form-label">Nombre</label>
                                <input required type="text"
                                  class="form-control" name="nombreEditar" id="nombreEditar" aria-describedby="helpId" placeholder="Ingresa el nombre">
                              </div>
                              <div class="mb-3">
                                  <label for="" class="form-label">Autor</label>
                                  <input required type="text"
                                    class="form-control" name="autorEditar" id="autorEditar" aria-describedby="helpId" placeholder="Ingresa el autor">
                              </div>
                              <div class="mb-3">
                                  <label for="" class="form-label">Año</label>
                                  <input required type="text"
                                    class="form-control" name="añoEditar" id="añoEditar" aria-describedby="helpId" placeholder="Ingresa el año de publicación">
                              </div>
                              <div class="mb-3">
                                  <label for="" class="form-label">Género</label>
                                  <input required type="text"
                                    class="form-control" name="generoEditar" id="generoEditar" aria-describedby="helpId" placeholder="Ingresa el Género">
                              </div>
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </form>
                    </div>
                    
                </div>

            </div>
            <div class="col-md-9">
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Album</th>
                            <th>Autor</th>
                            <th>Año</th>
                            <th>Género</th>
                        </tr>
                    </thead>
                    <tbody id="albumes">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        var url="http://localhost:8083/albums";
        var modal = new bootstrap.Modal(document.getElementById('modelId'), {keyboard:false});

        var aplicacion= new function(){

            this.idBorrar= document.getElementById("idBorrar");

            this.idEditar= document.getElementById("idEditar");
            this.nombreEditar= document.getElementById("nombreEditar");
            this.autorEditar= document.getElementById("autorEditar");
            this.añoEditar= document.getElementById("añoEditar");
            this.generoEditar= document.getElementById("generoEditar");

            this.id= document.getElementById("id");
            this.nombre= document.getElementById("nombre");
            this.autor= document.getElementById("autor");
            this.año= document.getElementById("año");
            this.genero= document.getElementById("genero");

            this.albumes=document.getElementById("albumes");

            this.Leer=function(){
                var datos="";
                fetch(url+"/getAlbums")
                .then(r=>r.json())
                .then((respuesta)=>{
                    console.log(respuesta);
                    respuesta.map(
                        function (album,index, array){
                            datos+="<tr>";
                            datos+="<td>"+album.id+"</td>";
                            datos+="<td>"+album.nombre+"</td>";
                            datos+="<td>"+album.autor+"</td>";  
                            datos+="<td>"+album.genero+"</td>";
                            datos+="<td>"+album.año+"</td>";
                            datos+="</tr>";
                        }
                    );
                    return this.albumes.innerHTML=datos;
                })
                .catch(console.log);
                
            };
            this.Agregar=function(){
                console.log(nombre.value);
                console.log(autor.value);
                console.log(año.value);
                console.log(genero.value);

                var datosEnviar={id:"1", name:this.nombre.value, artist:this.autor.value, year:this.año.value, genre:this.genero.value}

                fetch(url+"/addAlbum", {method:"POST", body:JSON.stringify(datosEnviar)})
                .then((respuesta)=>respuesta.json())
                .then((datosDeRespuesta)=>{
                    console.log("insertados");
                    console.log(datosEnviar);
                    this.Leer();
                })
                .catch(console.log);
            };

            this.Borrar=function(idBorrar){
                var datosBorrar={id:this.idBorrar.value}
                fetch(url+"/deleteAlbum", {method:"POST", body:JSON.stringify(datosBorrar)})
                .then((res)=>res.json())
                .then((datosDeRes)=>{
                    console.log("borrado");
                    console.log(datosBorrar);
                    this.Leer();
                })
                .catch(console.log);
            };

            

            this.Actualizar=function(idEditar){

                var datosActualizar={id:this.idEditar.value, name:this.nombreEditar.value, artist:this.autorEditar.value, year:this.añoEditar.value, genre:this.generoEditar.value}

                fetch(url+"/updateAlbum", {method:"POST", body:JSON.stringify(datosActualizar)})
                .then((respuesta)=>respuesta.json())
                .then((datosDeRespuesta)=>{
                    console.log("Actualizados");
                    console.log(datosActualizar);
                    this.Leer();
                })
                .catch(console.log);

            }
        }
        aplicacion.Leer();
    </script>
    

</body>
</html>